<div>
  <h3>Pautas</h3>
  <button mat-raised-button color="primary" (click)="openAddPautaModal()">Nova +</button>
  <br><br>
  <mat-card class="mat-card" *ngFor="let pauta of pautas">
    <mat-card-title>{{ pauta.pautaTitulo }}</mat-card-title>
    <mat-card-content>
      <p><span class="fw-bold">Descrição:</span> {{ pauta.pautaDescricao }}</p>
      <p><span class="fw-bold">Status:</span> {{ getSessaoStatus(pauta) }}</p>
      <p *ngIf="pauta.sessaoTotalVotosSim != null || pauta.sessaoTotalVotosNao != null">
        <span class="fw-bold">Votos Sim: </span>{{ pauta.sessaoTotalVotosSim }} | <span class="fw-bold">Votos Não: </span>{{ pauta.sessaoTotalVotosNao }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="getSessaoStatus(pauta) === 'Pendente'" (click)="iniciarSessao(pauta.pautaId)">Iniciar Sessão</button>
      <button mat-button *ngIf="getSessaoStatus(pauta) === 'Em Andamento'" (click)="votar(pauta)">Votar</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
