.associados-list {
  margin-top: 20px;
}

.associado {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.associado-info {
  margin-bottom: 5px;
}

/* associados.component.css */
.apto-para-votar {
  background-color: green;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.nao-apto-para-votar {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}
